version: "3.9"

services:
  gateway:
    build:
      context: ../gateway-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    container_name: gateway

  test:
    build:
      context: ../test-service
      dockerfile: Dockerfile
    container_name: test